---
interface Props {
  picture: {
    lg: string;
    default: string;
  };
  title: string;
  description: string;
  links: {
    linkPreview: string;
    githubLink: string;
  };
  tags: string[];
}

const { picture, title, description, links, tags } = Astro.props;
---

<div class="project-card">
  <picture>
    <source media="(min-width: 500px)" srcset={picture.lg} />
    <img
      src={picture.default}
      width="435"
      height="auto"
      alt="project thumbnail"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <div class="project-card__content">
    <h3 class="project-card__title">{title}</h3>
    <p class="project-card__description">
      {description}
    </p>
    <ul class="project-card__links">
      <li class="project-card__link-item">
        <a target="_blank" href={links.linkPreview}
          ><img
            src="/link.svg"
            alt="link preview"
            width="15"
            height="auto"
            loading="lazy"
            decoding="async"
          />
          <span>Live Preview</span></a
        >
      </li>
      <li class="project-card__link-item">
        <a target="_blank" href={links.githubLink}
          ><img
            src="/github.svg"
            alt="github preview"
            width="20"
            height="auto"
            loading="lazy"
            decoding="async"
          />
          <span>View Code</span></a
        >
      </li>
    </ul>
    <div class="project-card__tags">
      {tags.map((tag) => <span class="project-tag">{tag}</span>)}
    </div>
  </div>
</div>
