---
import { projects } from "../data";
import ProjectCard from "./ProjectCard.astro";
---

<section id="portfolio" class="padding-x">
  <h2 class="section-heading">Projects</h2>
  <p class="section-paragraph">Examples of my skills in action</p>
  {
    projects.map((project) => (
      <ProjectCard
        picture={project.thumbnail}
        title={project.title}
        description={project.description}
        links={project.links}
        tags={project.tags}
      />
    ))
  }
</section>
